@media print {
  /* #amosPrintIframe {
    display: block !important;
  }

  body {
    background: red;
  }

  div {
    display: block !important;
    background: red;
  }

  button {
    display: block !important;
    background: red;
  } */
}
