/** 灰色色阶为公用颜色 **/

$B000: white;
$B050: whitesmoke;
$B100: #EEE;
$B200: #E5E5E5;
$B300: #DDD;
$B400: #CCC;
$B500: #B5B5B5;
$B600: #9F9F9F;
$B700: #888;
$B800: #717171;
$B900: #575757;

/** 主题 **/

$H050: #FBEEEF;
$H100: #F2CCCD;
$H200: #E9AAAD;
$H300: #E28E91;
$H400: #DA7175;
$H500: #D3555A;
$H600: #B94A4F;
$H700: #9E4044;
$H800: #843538;
$H900: #6A2B2D;
