.scan {
  text-align: center;
}

#car {
  top: 100px;
  animation: 3s linear 0s normal none infinite running straightLine;
}

@keyframes straightLine {
  30% {
    transform: translateX(600px);
  }

  50% {
    /* transform: translate3D(100px, 0, 0); x,y,z */
    transform: translate3D(100px, 100px, 200px);
  }

  70% {
    transform: translateX(300px);
  }

  100% {
    transform: translate3D(20px, 20px, 0);
  }
}

#img1 {
  width: 130px;
  animation: 3s linear 0s normal none infinite running scanImgTurn;
}

#img2 {
  width: 130px;
  animation: 3s linear 0s normal none infinite running scanImgTurn;
}

#img3 {
  width: 130px;
  animation: 3s linear 0s normal none infinite running scanImgTurn;
}

#img4 {
  width: 130px;
  animation: 3s linear 0s normal none infinite running scanImgTurn;
}

#img5 {
  width: 130px;
  animation: 3s linear 0s normal none infinite running scanImgTurn;
}

@keyframes scanImgTurn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes scanImgTurn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
