@charset 'utf-8';
html {
    overflow: hidden;
    -ms-touch-action: none;
    -ms-content-zooming: none;
}
body {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background: #fff;
    width: 100%;
    height: 100%;
}
#screen {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background:#000;
    perspective:500px;
    -webkit-perspective:500px;
}

.cube {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: 0;
    user-select: none;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.face {
    position: absolute;
    margin-left:-700px;
    margin-top:-450px;
    width:1400px;
    height:900px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
    transition: outline 0.5s ease-in-out 0s;
    cursor: pointer;
}

.button {
    position: absolute;
    margin-left:-195px;
    margin-top:-130px;
    width:390px;
    height:260px;
}
.kong:hover {
    outline: rgba(255,255,255,1) solid 8px !important;
}
.face canvas{
    background: #000;
}
.face.kong canvas{
    background: #333;
}
#bg{
    color:#fff;
    outline:none;
    background:url(bg.png);
    background-size: cover;
}

#bg .logo{
    width: 28%;
    height: auto;
    margin: 30px 40px;
}
.chart{
    width:100%;
    height:100%;
}